.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 71em;
  background-color: #07136d;
  position: static;
}

.text {
  color: #f7c80af2;
  font-size: 8em;
  font-family: SpoqaHanSansNeo_Bold;
}
