.noteSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note {
  flex: 1 1 50%;
}

.noteImg {
  width: 25rem;
  margin-right: 2rem;
  margin-left: 10rem;
  flex: 1 1 50%;
}

.noteLink {
  color: black;
  text-decoration: none;
  font-family: SpoqaHanSansNeo_Bold;
  font-size: 3rem;
  margin-bottom: 3rem;
  display: block;
}

.reactIcon {
  width: 30px;
}

p {
  font-family: SpoqaHanSansNeo_Regular;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.skills {
  margin-top: 3rem;
  font-size: 1.3rem;
}

.github {
  margin-top: 3rem;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
